{% extends 'base.html.twig' %}

{% block title %}Supprimer un proprietaire{% endblock %}

{% block body %}
    <h1>Supprimer le proprietaire <i>{{ proprietaire.nom }} ?</i></h1>
    {{ form(formulaire) }}

    <a href="{{ path("app_proprietaire") }}" class="btn btn-default">Retour</a>
{% endblock %}